@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaria: #146082;
  --secundaria: #bd7a42;
}

.primaria {
  background-color: var(--primaria);
}

.secundaria {
  background-color: var(--secundaria);
}

.automacaoBg {
  background-image: url("../../public/automacao.jpg");
}

.opacityBg {
  background: rgba(255, 255, 255, 0.8);
}
